<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!-- jquery vendor -->
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/public/js/lib/menubar/sidebar.js"></script>
<script src="/public/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->
<script src="/public/js/lib/bootstrap.min.js"></script>

<!-- bootstrap -->


<script src="/public/js/lib/weather/jquery.simpleWeather.min.js"></script>
<script src="/public/js/lib/weather/weather-init.js"></script>
<script src="/public/js/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="/public/js/lib/owl-carousel/owl.carousel-init.js"></script>
<script src="/public/js/scripts.js"></script>
<!-- scripit init-->
<script src="/public/js/slider.js"></script>
</body>

</html>
