<% include partials/header %>

<div id="veiculos_header" class="text-center">
    <div class="section-title text-center center">
        <h2>As Nossas Viaturas</h2>
       </div>
</div>
<!-- Portfolio Section -->
<div id="listagem">
  <div class="container"> <!-- Container -->
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">Todos Veiculos</a></li>
            <li><a href="#" data-filter=".lorem">Marca</a></li>
            <li><a href="#" data-filter=".consectetur">Modelo</a></li>
            <li><a href="#" data-filter=".dapibus">Valor</a></li>
            <li><a href="#" data-filter=".dapibus">Km</a></li>
          </ol>
        </li>
      </ul>
        </div>
      </div>
    </div>

    <div>
      <div>
        <div>
        
    
        </div>
      </div>
    </div>

<% include partials/footer %>