<% include partials/header %>



<div id="veiculos_header" class="text-center">
    <div class="section-title text-center center">
        <h1>As Nossas Viaturas</h1>
       </div>
</div>
<!-- Portfolio Section -->
<div id="listagem">
  <div class="container"> <!-- Container -->
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">Marca</a></li>
            <li><a href="#" data-filter=".lorem">Modelo</a></li>
            <li><a href="#" data-filter=".consectetur">Valor</a></li>
            <li><a href="#" data-filter=".dapibus">Km</a></li>

          </ol>
        </li>
        <div data-role="rangeslider">
          <label for="price-min">Valor:</label>
          <input type="range" name="price-min" id="price-min" value="0" min="0" max="99999">
          <label for="price-max">Valor:</label>
          <input type="range" name="price-max" id="price-max" value="3000" min="0" max="99999">
        </div>
          <input type="submit" data-inline="true" value="Submit">
          
          <div data-role="rangeslider">
            <label for="price-min">KM :</label>
            <input type="range" name="price-min" id="price-min" value="0" min="0" max="99999">
            <label for="price-max">KM:</label>
            <input type="range" name="price-max" id="price-max" value="3000" min="0" max="99999">
          </div>
            <input type="submit" data-inline="true" value="Submit">
      </ul>
    </div>


      </div>
    </div>
  </div>
</div>
<% include partials/footer %>